html, body{
    margin: 0;
    padding: 0;
}

p{
    text-align: justify;
}

#box{

    width: 1000px;
    height: auto;
    margin: auto;

}

#header{
    background-color: #fd0d0d;
    margin: auto;
}

.taksmenu{
    text-decoration: none;
}

#konten{
    padding: 20px;
}

#footer{
    background-color: #e2e60d;
    padding: 20px;
}